<div class="form-container mt-2">
  <form class="sign-up">
    <h3 class="form-title">McDonald’s Signup</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input name="name" matInput placeholder="John Smith" [formControl]="nameFormControl">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" name="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. pat@example.com">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button mat-flat-button color="accent" class="full-width form-submit_btn" (click)="onClickSubmit()">Login</button>

  </form>
</div>
