<div class="form-container">
  <form class="sign-up form" [formGroup]="dataForm">
    <h3 class="form-title">McDonald’s Signup</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" name="email" matInput formControlName="email" [errorStateMatcher]="matcher"
             placeholder="Ex. pat@example.com" autocomplete="email">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
             autocomplete="current-password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-flat-button class="full-width form-submit_btn btn" (click)="login()">Login</button>

  </form>
</div>
