@use 'src/assets/styles/variables' as var;

::ng-deep .mat-grid-tile-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-item-body {
  @include var.center-row;
  cursor: pointer;
}

.category-item_title {
  font-size: 1.5rem;
  text-align: center;
  text-transform: lowercase;
}

.category-item-body:hover .category-item_title{
  color: var.$primary;
  transition: linear all .3s;
  text-transform: uppercase;
}
