@use 'src/assets/styles/variables' as var;

.header {
  color: #fff;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../../assets/img/header.jpeg');
  padding: 1rem 0;
  background-size: contain;
  height: 5%;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.logo {
max-width: 50px;
}
