@use 'src/assets/styles/variables' as var;

.header {
  @include var.main-gradient;

  color: #fff;
  padding: 1rem 0;
  height: 5%;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.logo {
max-width: 50px;
}
