a {
  color: #fff;
  text-decoration: none;
}

.mat-menu-content {
  background-color: #000;
}

.navbar {
  max-width: 480px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
