<nav class="navbar">
  <ul class="navbar-list">
    <li><a *ngIf="!authService.isLoggedIn" mat-flat-button color="warn" class="button" routerLink="/sign-up" routerLinkActive="activebutton">Sign Up</a>
    </li>
    <li *ngIf="!authService.isLoggedIn">
      <a
        mat-flat-button
        color="primary"
        class="button"
        routerLink="/sign-in"
        routerLinkActive="activebutton">Sign In
      </a>
    </li>
    <li>
    <li *ngIf="authService.isLoggedIn">
      <a mat-flat-button color="primary" class="button" (click)="authService.logout">Log out</a>
    </li>
    <li>
      <button mat-flat-button [matMenuTriggerFor]="menu">Menu</button>
    </li>
  </ul>
  <mat-menu #menu="matMenu">
    <button *ngFor="let item of categories" mat-menu-item [routerLink]="['/categories', item.id]">{{item.name}}
    </button>
    <button mat-menu-item routerLink="/categories" routerLinkActive="activebutton">Show Details</button>
  </mat-menu>
</nav>
