a {
  color: #fff;
  text-decoration: none;
}

.mat-menu-content {
  background-color: #000;
}

.navbar {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media (max-width: 480px) {
    width: 230px;
  }
  .navbar-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
  }
}

