<nav class="navbar">
  <a mat-flat-button color="warn" class="btn nav-btn" routerLink=""
     routerLinkActive="activebutton">
    <mat-icon>home</mat-icon>
  </a>


  <ul class="navbar-list">
    <li><a *ngIf="!this.isLogin" mat-flat-button color="warn" class="btn nav-btn" routerLink="/sign-up"
           routerLinkActive="activebutton">Sign Up</a>
    </li>
    <li *ngIf="!this.isLogin">
      <a
        mat-flat-button
        color="primary"
        class="btn nav-btn"
        routerLink="/sign-in"
        routerLinkActive="activebutton">Sign In
      </a>
    </li>
    <li>
    <li *ngIf="this.isLogin">
      <a mat-flat-button color="primary" class="btn nav-btn" (click)="logout()">Log out</a>
    </li>
    <li *ngIf="this.authService.isAdmin">
      <a
        mat-flat-button
        color="primary"
        class="btn nav-btn"
        routerLink="/admin"
        routerLinkActive="activebutton">Admin page
      </a>
    </li>
    <li>
      <button class="btn nav-btn" mat-flat-button [matMenuTriggerFor]="menu">Menu</button>
    </li>
  </ul>
  <mat-menu #menu="matMenu">
    <button *ngFor="let item of categories" mat-menu-item [routerLink]="['/categories', item.id]">{{item.name}}
    </button>
    <button mat-menu-item routerLink="/categories" routerLinkActive="activebutton">Show Details</button>
  </mat-menu>
</nav>
