<section class="categories">
  <h2 class="section-title">Categories Edit</h2>
  <div class="container">
    <div class="row py-2">
      <mat-card class="category-item" *ngFor="let item of categories">
        <div class="category-item-body">
          <img src="{{item.imgUrl}}" alt="{{item.name}}" class="category-item_img">
          <h5 class="category-item_name">{{item.name}}</h5>
          <div class="category-item_controls">
            <button mat-flat-button (click)="deleteCategory(item.id)" class="btn">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-flat-button
                    class="category-item_edit btn" (click)="openEditCategoryModal(item)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>
    </div>
    <button mat-flat-button class="btn category-item_add"
            (click)="toggleAddCategoryClass = !toggleAddCategoryClass">{{toggleAddCategoryClass ? 'Close' : 'Add Category'}}</button>
    <form class="category-add" *ngIf="toggleAddCategoryClass" [@slideIn] [formGroup]="categoryAddGroup">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Category name</mat-label>
        <input matInput placeholder="Burgers"
               formControlName="name" type="text" (input)="categoryNameInputHandler()">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Category img url</mat-label>
        <input matInput placeholder="past your link"
               formControlName="imgUrl" type="text" (input)="categoryNameInputHandler()">
      </mat-form-field>
      <button mat-flat-button (click)="addCategory($event)" [disabled]="categoryAddIsDisabled">Add category</button>
    </form>
  </div>
</section>

<hr class="hr-line">

<section class="dishes">
  <h2 class="section-title">Dishes Edit By Category</h2>
  <div class="center">
    <mat-form-field appearance="fill" class="dishes-select">
      <mat-label>Favorite food</mat-label>
      <mat-select #mySelect (selectionChange)="selectOnChange(mySelect.value)"
                  [formControl]="categorySelectFormControl">
        <mat-option *ngFor="let category of categories; let index = index" [value]="category.name"
                    [attr.selected]='index > 0? "selected":null'>
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="dishes-content">
    <div class="container">
      <div class="row py-2">
        <mat-card class="category-item" *ngFor="let dish of dishes">
          <div class="category-item-body">
            <h5 class="dish-item_name">{{dish.name}}</h5>
            <img src="{{dish.imgUrl}}" alt="{{dish.name}}" class="responsive-img">
            <h5 class="dish-item_description">{{dish.description}}</h5>
            <span class="dish-item_price">price: {{dish.price}} $</span>
            <span class="dish-item_calories">calories: {{dish.cal}} cal.</span>
          </div>
          <div class="dish-item_controls">
            <button mat-flat-button (click)="deleteDish(dish.id)" class="btn">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-flat-button
                    class="dishes-item btn" (click)="openEditDishModal(dish)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </mat-card>
      </div>
    </div>
    <button mat-flat-button class="btn category-item_add"
            (click)="toggleAddDishesClass = !toggleAddDishesClass">{{toggleAddDishesClass ? 'Close' : 'Add dish by category'}}</button>
    <form class="category-add" *ngIf="toggleAddDishesClass" [@slideIn] [formGroup]="dishAddGroup">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>name</mat-label>
        <input matInput placeholder="Big Mac" type="text" formControlName="name">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>img url</mat-label>
        <input matInput placeholder="past your img url" type="text" formControlName="imgUrl">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5" placeholder="add description" type="text"
                  formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput placeholder="7.99" type="number" formControlName="price">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Calories</mat-label>
        <input matInput placeholder="110" type="number" formControlName="cal">
      </mat-form-field>
      <button mat-flat-button (click)="addDish()">Add dish</button>
    </form>
  </div>
</section>
