.row>div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.category-item{
  max-width: 100%;
  margin: .5rem;
}

.category-item_img {
  max-width: 100%;
}

.category-item-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::ng-deep .dishes-select {
  margin: 0 auto;
  display: block;
  max-width: 300px;
}

.dish-item_controls {
  display: flex;
  justify-content: center;
}

.category-item_add {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.category-add {
  display: flex;
  justify-content: center;
  button {
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .mat-form-field {
    min-width: 320px;
  }
}
