.sign-up {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  @media (max-width: 480px) {
    width: 80%;
  }
}

.form-title {
  text-align: center;
  font-weight: 600;
}

.full-width {
  width: 100%;
}

.form-submit_btn {
  margin: 1rem 0;
}

::ng-deep .mat-input-underline {
  background-color: #FF0000;    /* replace this color with your accent color hex code */
}
