@use 'src/assets/styles/variables' as var;

::ng-deep .mat-grid-tile-content {
  flex-direction: column;
  cursor: pointer;
}

.dishes-item_img {
  max-width: 70%;
}

.dishes-item-body {
  @include var.center-row;
  border-radius: 12px;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.dishes-item_title {
  font-size: 1.5rem;
  text-align: center;
  text-transform: lowercase;
}

.dishes-item-body:hover .dishes-item_title{
  color: var.$primary;
  transition: linear all .3s;
  transform: scale(1.1);
}

.dishes-item-body:hover {
  transition: linear all .3s;
  -webkit-box-shadow: inset 0px 0px 14px 1px rgba(0,0,0,0.58);
  -moz-box-shadow: inset 0px 0px 14px 1px rgba(0,0,0,0.58);
  box-shadow: inset 0px 0px 14px 1px rgba(0,0,0,0.58);
}
