<div class="container">
  <mat-list class="cart-list">
    <mat-list-item *ngFor="let item of cart">
      <mat-card class="cart-item">
        <div class="cart-item-header">
          <img src="{{item.imgUrl}}" alt="{{item.name}}" class="cart-item_img">
        </div>
        <div class="cart-item-body">
          <h5 class="cart-name">{{item.name}}</h5>

          <app-select-quantity [counter]="item.quantity" (counterChange)="counterChange($event, item.id)">

          </app-select-quantity>

          <span class="cart-price">Price: {{item.price}} $</span>
          <p class="cart-text">{{item.description}}</p>
        </div>
        <div class="cart-item-footer">
          <button mat-fab (click)="removeCartItem(item.cartId)">
            <mat-icon>remove_shopping_cart</mat-icon>
          </button>
        </div>
      </mat-card>
    </mat-list-item>
  </mat-list>
  <hr>
  <div class="cart-footer">
    <span>Total price: {{totalPrice}} $</span>
    <button mat-flat-button color="accent" class="cart-item-order_btn">Order</button>
  </div>
</div>
