@use 'src/assets/styles/variables' as var;

* {
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
}
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.test {
  min-height: 82vh;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.responsive-img {
  max-width: 100%;
}

.mat-grid-list {
  height: auto;
  padding-bottom: 0 !important;
}

.gradient {
  @include var.main-gradient;
}

.center-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
