* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85%;
}

.responsive-img {
  max-width: 100%;
}
