$light-color: #fff;
$primary: #3f51b5;
$dark-color: #000;

@mixin main-gradient {
  background:linear-gradient(45deg, #bf0c0c, #e76a05, #ffc600, #47bc00, #05007b, #9748a8);
}

@mixin center-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
