@use 'src/assets/styles/variables' as var;

.footer {
  display: flex;
  background-color: var.$dark-color;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
  height: 5%;
}

.footer-text {
  text-align: center;
  color: #fff;
}

